:root {
    --bdg1: rgb(229, 184, 177);
    --bdc2: rgb(201, 58, 22);
    --bgc1: rgb(87, 170, 163);
    --bgc2: rgb(250, 226, 195);
    --bgc3: rgb(13, 143, 41);
}

* {
    padding: 0;
    margin: 0;
    border-width: 0;
    color: black;
    text-align: center;
    font-size: 20px;
}
input{
    border:1px solid black;
}
.main {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -225px;
    margin-left: -200px;
}

.frame>button {
    line-height: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-width: 1px;
    border-color: var(--bdg1);
    background-color: inherit;
    float: left;
}

.frame>button:hover {
    
    color: antiquewhite;
}
.frame>.state{
    background-color:green;
    float: left;
    margin-left: 83px;
    width:140px;
    height:50px;
    font-size: 30px;
    line-height: 50px;
}
.frame>.flagNum{
    width:80px;
    height:50px;
    line-height: 50px;
    background-color: black;
    color:red;
    float:right;
    font-size: 30px;
}
.frame {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--bgc1);
}

.contain {
    position: relative;
    width: 440px;
}

ul {
    display: inline-block;
    list-style: none;
}

li {
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border: 2px solid var(--bdg1);
    background-color: var(--bgc3);
}

li:hover {
    border-color: var(--bdc2);
}